<h3>Revenus</h3>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container
    [matColumnDef]="col.key"
    *ngFor="let col of columnsSchema; let i = index"
  >
    <td mat-cell *matCellDef="let element" [class.green-row]="!element.isEdit">
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button
            class="btn button-edit"
            (click)="element.isEdit = !element.isEdit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btn button-remove" (click)="removeRow(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <span *ngSwitchCase="'date'">
          {{ element[col.key] | date : "dd/MM/yyyy" }}
        </span>
        <span *ngSwitchDefault>
          {{ element[col.key] | euroCurrency }}
        </span>
      </div>
      <div [ngSwitch]="col.type" *ngIf="element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button
            class="button-save"
            mat-button
            (click)="saveIncome(element)"
          >
            <mat-icon>save</mat-icon>
          </button>
        </div>
        <mat-form-field class="form-input" *ngSwitchCase="'date'">
          <mat-label>Choisissez une date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="element[col.key]"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-input" *ngSwitchDefault>
          <input
            [type]="col.type"
            matInput
            appearence="fill"
            [(ngModel)]="element[col.key]"
          />
        </mat-form-field>
      </div>
    </td>
    <ng-container>
      <td mat-footer-cell *matFooterCellDef>
        <span *ngIf="col.key === 'label'">Total</span>
        <span *ngIf="col.key === 'amount'">{{
          getTotalCost() | euroCurrency
        }}</span>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>
