h3 {
  margin: 0;
}
table {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.btn-edit {
  text-align: right;
}
h2 {
  text-align: center;
  padding-top: 20px;
}

.table-header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-edit {
  color: var(--color-primary) !important;
  height: 30px;
}

mat-icon {
  font-size: 18px;
  height: auto;
}

.button-remove {
  color: red !important;
  height: 30px;
}

.button-save {
  color: var(--color-tertiary) !important;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.form-input {
  padding-right: 5px;
  margin-bottom: -1.25em;
  height: 70px;
}

.green-row {
  background-color: rgb(207, 251, 207);
}

.mat-column-isEdit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
