<nav class="navigation-bar mat-elevation-z3">
  <h3 class="selected-year">2023</h3>
  <ul class="navigation-list">
    <li *ngFor="let month of months">
      <a
        [routerLink]="'/tracking/2023/' + month.toLowerCase()"
        routerLinkActive="active"
        >{{ month }}</a
      >
    </li>
  </ul>
</nav>

<div class="header-tracking">
  <h3 class="selected-month">{{ activeMonth }}</h3>
  <button class="button-add-row" mat-button (click)="addNewOperation()">
    Ajouter un débit
  </button>
  <button class="button-add-row" mat-button (click)="addNewIncome()">
    Ajouter un revenu
  </button>
</div>

<section class="container-table-income" tabindex="0">
  <app-tracking-income-table></app-tracking-income-table>
</section>
