.header-tracking {
  display: flex;
  align-items: center;
}

.selected-year {
  margin: 0;
  padding: 10px 10px 0 10px;
}

.selected-month {
  margin: 0;
  width: 100px;
  padding: 0px 10px;
}

.container-table-income {
  width: 50%;
  padding: 20px;
}

.navigation-bar {
  background-color: #fff;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  overflow: auto;
}

.navigation-list li {
  flex: 1;
  text-align: center;
}

.navigation-list li a {
  display: block;
  color: var(--color-dark);
  padding: 10px;
  text-decoration: none;
}

.active {
  color: var(--color-primary-light) !important;
}

.button-add-row {
  background: var(--color-primary);
  color: #ffffff !important;
  margin-right: 20px;
}
