.mat-drawer-component {
  height: 100%;
  margin: 0px;
}

.navigation-button {
  display: flex;
  align-content: center;
  color: var(--color-secondary);
  h4 {
    margin: 0 0 0 15px;
  }
  h5 {
    margin: auto
  }
}

.sidenav-content {
  height: 100%;
}

.active {
  background-color: var(--color-primary);
  h4, mat-icon {
    color: var(--color-secondary-contrast) !important;
  }
}

.active-year {
  background-color: var(--color-primary-light);
  h5, mat-icon {
    color: var(--color-secondary-contrast) !important;
  }
}

.expand-button {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  margin: 10px;
}

.navbar-btn {
  background-color: var(--color-danger-shade);
  color: var(--color-primary-contrast);
  display: flex;
  align-content: center;
  margin: auto;
  margin-top: 6px;

  span {
    margin: 0 0 0 15px;
  }
  &:hover {
    background-color: var(--color-danger-tint);
  }
  &:focus {
    color: var(--color-primary-contrast);
    background-color: var(--color-danger);
  }
}

.expand-button-container {
  display: flex;
  align-content: center;
  span {
    margin: auto 0;
  }
}
