<mat-drawer-container class="mat-drawer-component mat-typography" autosize>
  <mat-drawer class="mat-elevation-z3"
    *ngIf="isLogged"
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
  >
    <div class="expand-button-container">
      <button
        class="expand-button"
        mat-mini-fab
        (click)="isExpanded = !isExpanded"
        aria-label="Menu"
      >
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
      <span *ngIf="isExpanded">Mon compte</span>
    </div>

    <mat-nav-list>
      <mat-list-item routerLink="/synthesis" routerLinkActive="active">
        <div class="navigation-button">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Synthèse</h4>
        </div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/tracking']" routerLinkActive="active" (click)="redirectToLastYear()">
        <div class="navigation-button">
          <mat-icon mat-list-icon>paid</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Suivi</h4>
        </div>
      </mat-list-item>
      <div *ngIf="isExpanded && isActiveRoute('/tracking')">
        <mat-list-item *ngFor="let tracking of trackingList"[routerLink]="['/tracking', tracking.year]" routerLinkActive="active-year">
          <div class="navigation-button">
            <h5 mat-line>{{tracking.year}}</h5>
          </div>
        </mat-list-item>
      </div>
      
      <mat-list-item  routerLink="/configuration" routerLinkActive="active">
        <div class="navigation-button">
          <mat-icon mat-list-icon>settings</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Configuration</h4>
        </div>
      </mat-list-item>
      <button class="navbar-btn btn" (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span *ngIf="isExpanded">Déconnexion</span>
      </button>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
