.container-register {
  background-image: url("../../../assets/images/login-background-notes.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
}

.register-card {
  max-width: 380px;
}

.card {
  border-color: var(--color-primary-light);
}

a {
  margin-left: 8px;
  color: var(--color-primary);
  &:hover {
    color: var(--color-primary-lighter);
  }
}

.card-header {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  margin: 0 -1px;
  .card-title {
    margin: 0;
  }
}

.btn {
  background-color: var(--color-secondary);
  color: var(--color-primary-contrast);
  width: 100%;
  &:hover {
    background-color: var(--color-secondary-lighter);
  }
}
